.container_docs, .right_container_docs {
  height: auto;
  transition: 0.5s ease-in-out;
  padding-top: 50px;
  text-align: center;
  background-color: #64CCAF;
  border-radius: 20px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 10px;
  position: relative;
}

.container_docs {
  transform: translateX(-50%);
}

.right_container_docs {
  transform: translateX(50%);
}

.in-view {
  transform: translateX(0) !important;
}

.container_docs h1, .right_container_docs h1 {
  font-size: 36px;
  margin-top: 10px;
  font-weight: 600;
}

.container_docs p, .right_container_docs p {
  margin-left: 5px;
  text-align: left;
  margin-top: 15px;
  font-size: medium;
  padding-bottom: 50px;
  line-height: 30px;
}

.container_docs li, .right_container_docs li {
  text-align: left;
  line-height: normal;
  margin-left: 15px;
}

.special li {
  line-height: 25px;
  padding-top: 20px;
}

.container_docs blod, .right_container_docs blod {
  font-weight: 900;
}
